<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inf.uct.plancook" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".ActivityInicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <fragment
            android:name=".FragmentHome"
            android:label="Home" >
        </fragment>


        <fragment
            android:name=".FragmentCalendario"
            android:label="Lista" >
        </fragment>
        <fragment
            android:name=".FragmentCompra"
            android:label="Lista" >
        </fragment>
        <fragment
            android:name=".FragmentConsejo"
            android:label="Lista" >
        </fragment>
        <fragment
            android:name=".FragmentHome"
            android:label="Lista" >
        </fragment>
        <fragment
            android:name=".FragmentRecetario"
            android:label="Lista" >
        </fragment>

        <activity
            android:name=".SplashActivity"
            android:label="" >
        </activity>

        <activity
            android:name=".ActivityLogin"
            android:label="" >
        </activity>

        <activity
            android:name=".ActivityRegistro"
            android:label="" >
        </activity>

        <activity
            android:name=".ActivityVisorRecetas"
            android:label="" >
        </activity>

        <activity
            android:name=".ActivitiRecetasFavoritas"
            android:label="Recetas Favoritas" >
        </activity>

        <activity
            android:name=".ActivityRecetasqueMeGustan"
            android:label="Recetas Favoritas" >
        </activity>

        <activity
            android:name=".ActivityDespensa"
            android:label="Despensa" >
        </activity>

        <activity
            android:name=".ActivityPrincipal"
            android:label="Despensa" >
        </activity>

    </application>

</manifest>
